/* This will target every single section */
body {
    font-family: sans-serif;
}

h2 {
    font-family: courier;
}

body > section:nth-child(3){
    background-color: firebrick;
}

section {
    background-color: pink;
}

/* this will target every element with this class */
.text{
    font-size: 2em;
}

h2[class^="header-"] {
    text-align: center;
}

